@charset "UTF-8";

.contwrap {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Noto Sans KR", MalgunGothic, "맑은 고딕", "돋움", Dotum,
    AppleGothic, Sans-serif, Arial;
    color: #222;
    font-weight: 400;
    letter-spacing: -0.25;
}

/* header */
.contwrap .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    color: #222;
    font-weight: 400;
    z-index: 999;
}

.contwrap .header .navigation {
    max-width: 1100px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    vertical-align: top;
    font-size: 0;
    *zoom: 1;
    position: relative;
}

.contwrap .header .navigation:after {
    content: "";
    display: block;
    clear: both;
}

.contwrap .header .navigation > div {
    display: inline-block;
}

.contwrap .header .navigation .nav_logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.contwrap .header .navigation .nav_logo > div {
    display: inline-block;
}

.contwrap .header .navigation .nav_logo .home {
    display: inline-block;
    width: 70px;
    height: 100%;
}

.contwrap .header .navigation .nav_logo .home > img {
    width: 100%;
}

.contwrap .header .navigation .nav_logo .sns {
    padding-left: 30px;
}

.contwrap .header .navigation .nav_logo .sns > a {
    padding-right: 10px;
}

.contwrap .header .navigation .nav_logo .brochure {
    position: relative;
    vertical-align: top;
}

.contwrap .header .navigation .nav_logo .brochure > a > span {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    display: inline-block;
    padding-right: 25px;
}

.contwrap .header .navigation .nav_logo .brochure > a > img {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}

.contwrap .header .navigation > ul {
    display: inline-block;
    font-size: 18px;
    line-height: 70px;
    float: right;
}

.contwrap .header .navigation > ul > li {
    display: inline-block;
    padding-right: 25px;
}

.contwrap .header .navigation > ul > .last_menu {
    padding-right: 0;
}

.contwrap .header .navigation > ul > li:hover a {
    color: #87c5ba;
}

.contwrap .header .navigation > ul > .first_menu.hover_a a {
    color: #87c5ba;
    padding-bottom: 23px;
    border-bottom: 2px solid #87c5ba;
}

.contwrap .header .navigation > ul > .last_menu.hover_a a {
    color: #87c5ba;
    padding-bottom: 23px;
    border-bottom: 2px solid #87c5ba;
}

.contwrap .header .navigation > ul > li.on a {
    color: #87c5ba;
}

.contwrap .header .menu_2depth {
    width: 100%;
    height: 70px;
    border-top: 1px solid #eee;
    display: none;
}

.contwrap .header .menu_2depth > ul {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    vertical-align: middle;
    position: relative;
    height: 70px;
}

.contwrap .header .menu_2depth > ul > li {
    display: inline-block;
}

.contwrap .header .menu_2depth > ul > li > ul > li {
    display: inline-block;
    font-size: 14px;
    line-height: 70px;
    padding-right: 30px;
}

.contwrap .header .menu_2depth > ul > li > ul > li:hover a {
    color: #87c5ba;
}

.contwrap .header .menu_2depth > ul > li > ul > .last_menu_2depth {
    padding-right: 0;
}

.contwrap .header .menu_2depth .about > ul {
    margin-left: 550px;
}

.contwrap .header .menu_2depth .customer > ul {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 0;
}

/* /header */

/* main */
.contwrap .cont_main {
    width: 100%;
}

.contwrap .cont_main .main_visual {
    width: 100%;
    height: 960px;
    position: relative;
}

.contwrap .cont_main .main_visual .subject {
    max-width: 1600px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.contwrap .cont_main .main_visual .subject > span {
    font-size: 22px;
    color: #87c5ba;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 410px;
}

.contwrap .cont_main .main_visual .main_right {
    width: 50%;
    height: 960px;
    position: absolute;
    opacity: 80%;
    top: 0;
    right: 0;
    background: url(city_plant.jpg) 0 0 no-repeat;
    background-size: cover;
}

.contwrap .cont_main .main_visual .main_left {
    width: 1100px;
    height: 960px;
    position: relative;
    font-size: 0;
    vertical-align: top;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -550px;
}

.contwrap .cont_main .main_visual .main_left > span {
    position: absolute;
    top: 210px;
    left: 0;
    width: 750px;
    display: inline-block;
}

.contwrap .cont_main .main_visual .main_left > span > img {
    width: 100%;
}

.contwrap .cont_main .main_visual .main_left p {
    font-size: 16px;
    line-height: 32px;
    color: #222;
    padding-top: 580px;
}

.contwrap .cont_main .main_visual .main_left p > span {
    font-weight: 600;
}

.contwrap .cont_main .service {
    width: 100%;
    height: 740px;
    margin-top: 190px;
    padding-bottom: 50px;
    background: linear-gradient(to right, #65b3ba, #87c5ba) 0 0 no-repeat;
}

.contwrap .cont_main .service .subject {
    max-width: 1600px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.contwrap .cont_main .service .subject > span {
    font-size: 22px;
    color: #fff;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 375px;
}

.contwrap .cont_main .service .service_cont {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.contwrap .cont_main .service .service_cont .service_img {
    width: 480px;
    height: 740px;
    position: absolute;
    top: -70px;
    left: 0;
}

.contwrap .cont_main .service .service_cont .service_img > img {
    width: 100%;
}

.contwrap .cont_main .service .service_cont .service_txt {
    width: 50%;
    position: absolute;
    top: 120px;
    right: 0;
}

.contwrap .cont_main .service .service_cont .service_txt ul li {
    width: 100%;
    font-size: 0;
    vertical-align: top;
    position: relative;
    margin-bottom: 70px;
}

.contwrap .cont_main .service .service_cont .service_txt ul li dl {
    display: inline-block;
}

.contwrap .cont_main .service .service_cont .service_txt ul li dl dt {
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}

.contwrap .cont_main .service .service_cont .service_txt ul li dl dd {
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    font-weight: 300;
}

.contwrap .cont_main .service .service_cont .service_txt ul li .icon {
    width: 120px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contwrap .cont_main .service .service_cont .service_txt ul li .icon img {
    width: 100%;
}

.main_slider .subject {
    max-width: 1600px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 7;
}

.main_slider .subject > span {
    font-size: 22px;
    color: #87c5ba;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 235px;
}

.main_slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.slider_desc {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 320px);
    height: 100%;
    background: #fff;
    z-index: 5;
    text-align: right;
}

.slider_slogan {
    display: inline-block;
    margin-right: 70px;
    margin-top: 120px;
    background: url(slider_slogan.png) 50% 50% no-repeat;
    width: 160px;
    height: 195px;
}

.slider_slogan img {
    display: none;
}

.slider_inner {
    margin-left: 150px;
    position: relative;
}

.slider_on ul li {
    margin-left: 70px;
    white-space: nowrap;
}

.slider_on ul li a {
    display: block;
}

.slider_on ul li img {
    width: 780px;
    height: 460px;
}

.slider_on ul li span {
    display: block;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.025em;
    font-weight: bold;
    text-align: right;
    color: #444;
    padding-top: 20px;
}

.slider_on .slick-arrow {
    position: absolute;
    top: auto;
    bottom: 44px;
    left: 50%;
    width: 25px;
    height: 18px;
    cursor: pointer;
    border: none;
    z-index: 11;
}

.slider_on .slick-arrow.slick-prev {
    margin-left: -596px;
    background: url(../images/pc/main/ico_prev.png) 50% 50% no-repeat;
}

.slider_on .slick-arrow.slick-next {
    margin-left: -518px;
    background: url(../images/pc/main/ico_next.png) 50% 50% no-repeat;
}

.slider_on .slick-dots {
    position: absolute;
    top: auto;
    bottom: 44px;
    left: 50%;
    margin-left: -634px;
    z-index: 10;
}

.slider_on .slick-dots li {
    display: none;
}

.slider_on .slick-dots li.slick-active {
    display: block;
}

.slider_on .slick-dots li button {
    font-size: 18px;
    line-height: 1;
    height: 19px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #444;
    border: none;
    background: none;
    cursor: default;
    outline: none;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
}

.slider_num {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #444;
    line-height: 1;
    bottom: 44px;
    left: 50%;
    margin-left: -548px;
    z-index: 15;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    text-align: left;
}

.slider_more {
    position: absolute;
    top: 418px;
    left: 50%;
    margin-left: -486px;
    z-index: 9;
}

.slider_more a {
    display: block;
    width: 33px;
    padding-top: 44px;
    font-size: 11px;
    line-height: 1;
    color: #444;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
    background: url(../images/pc/main/ico_more.png) 50% 0 no-repeat;
}

.contwrap .contact {
    width: 100%;
    background: url(contact_bg4.jpg) 50% 0 no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.contwrap .contact .cont_contact {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
}

.contwrap .contact .cont_contact .title {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.contwrap .contact .cont_contact .form {
    width: 100%;
    padding-top: 70px;
    font-size: 0;
    vertical-align: top;
}

.contwrap .contact .cont_contact .form > div {
    width: 48.5%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.contwrap .contact .cont_contact .form .left {
    margin-right: 3%;
}

.contwrap .contact .cont_contact .form input,
select:focus {
    outline: none;
}

.contwrap .contact .cont_contact .form ul li {
    *zoom: 1;
}

.contwrap .contact .cont_contact .form select {
    cursor: pointer;
    float: left;
    width: 48%;
    height: 60px;
    padding: 0 10px;
    font-family: "Noto Sans KR", MalgunGothic, "맑은 고딕", "돋움", Dotum,
    AppleGothic, Sans-serif, Arial;
    font-size: 20px;
    background: #fff url(../images/pc/customer/arrow.png) no-repeat 90% 50%;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contwrap .contact .cont_contact .form input {
    font-size: 20px;
    width: 100%;
    height: 60px;
    border: 1px solid #eee;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 25px;
}

.contwrap .contact .cont_contact .form .left ul li:last-child input {
    margin-bottom: 0;
}

.contwrap .contact .cont_contact .form input::placeholder {
    color: #d1d1d1;
}

.contwrap .contact .cont_contact .form .file_btn {
    display: inline-block;
    width: 48%;
    height: 60px;
    background: #fff;
    float: right;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.contwrap .contact .cont_contact .form .file_btn > label {
    font-size: 0;
    vertical-align: top;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.contwrap .contact .cont_contact .form .file_btn span {
    display: inline-block;
    font-size: 20px;
    color: #d1d1d1;
    vertical-align: middle;
}

.contwrap .contact .cont_contact .form .file_btn .file {
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 10px;
    display: block;
}

.contwrap .contact .cont_contact .form .file_btn .file img {
    width: 100%;
    display: block;
}

.contwrap .contact .cont_contact .form .file_btn .text {
    padding: 0 10px 0 10%;
}

.contwrap .contact .cont_contact .form .file_btn #file_input {
    display: none;
}

.contwrap .contact .cont_contact .form .right textarea {
    font-size: 20px;
    width: 100%;
    margin-top: 25px;
    height: 145px;
    position: relative;
    border-radius: 5px;
    padding: 15px 10px;
    font-family: "Noto Sans KR", MalgunGothic, "맑은 고딕", "돋움", Dotum,
    AppleGothic, Sans-serif, Arial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

.contwrap .contact .cont_contact .form .right textarea::placeholder {
    font-size: 20px;
    color: #d1d1d1;
    vertical-align: top;
}

.contwrap .contact .cont_contact .submit_button {
    display: block;
    background: none;
    width: 200px;
    height: 50px;
    text-align: center;
    color: #87c5ba;
    font-size: 16px;
    border: 1px solid #87c5ba;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 70px;
}

.contwrap .contact .cont_contact .submit_button:hover {
    color: #222;
    background: #87c5ba;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.2s;
    transition: background 0.4s;
    cursor: pointer;
}

/* /main */

/* footer */
.contwrap .footer {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 60px 0;
}

.contwrap .footer > div {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

.contwrap .footer > div > div {
    display: inline-block;
    width: 50%;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
}

.contwrap .footer > div .information .info_02 {
    padding-bottom: 20px;
}

.contwrap .footer > div .copyright {
    text-align: right;
    vertical-align: top;
}

/* /footer */

/* m_header */

.contwrap .m_header {
    display: none;
}

.main_visual_cover {
    display: none;
}

.main_service_cover {
    display: none;
}

@media all and (max-width: 1300px) {
    .slider_on ul li img {
        width: 780px;
        height: 460px;
    }

    .contwrap .cont_main .main_visual {
        width: 90%;
        padding: 0 5%;
    }

    .contwrap .cont_main .main_visual .subject {
        max-width: 1100px;
    }

    .contwrap .cont_main .main_visual .subject > span {
        transform: rotate(0deg);
        margin-top: 140px;
        left: 0;
    }

    .contwrap .cont_main .main_visual .main_left {
        left: 0;
        margin-left: 0;
        position: relative;
        max-width: 1100px;
        width: auto;
        margin: auto;
    }

    .contwrap .cont_main .main_visual .main_left > span {
        width: 70%;
    }

    .contwrap .cont_main .main_visual .main_left p {
        padding-top: 54%;
    }

    .contwrap .cont_main .service {
    }

    .contwrap .cont_main .service .subject > span {
        transform: rotate(0deg);
        margin-top: 140px;
        left: 50%;
        margin-left: 0;
        margin-top: -70px;
        color: #87c5ba;
    }

    .contwrap .cont_main .service .service_cont .service_img {
    }

    .contwrap .cont_main .service .service_cont .service_txt {
    }

    .main_slider {
        margin-top: 120px;
    }

    .main_slider .subject {
        width: 90%;
        max-width: 1100px;
    }

    .main_slider .subject > span {
        transform: rotate(0deg);
        margin-top: 0;
        left: 0;
        top: -120px;
    }
}

@media all and (max-width: 1200px) {

    .slider_on ul li img {
        width: 780px;
        height: 460px;
    }

    .contwrap .header {
        display: block;
    }

    .contwrap .header .navigation {
        width: 90%;
        padding: 0 5%;
    }

    .contwrap .header .navigation .nav_logo {
        left: 5%;
    }

    .contwrap .header .menu_2depth {
        width: 90%;
        padding: 0 5%;
    }

    .contwrap .header .menu_2depth > ul {
        text-align: right;
    }

    .contwrap .header .menu_2depth .about > ul {
        margin-left: 0;
        margin-right: 310px;
    }

    .contwrap .footer {
        padding: 55px 5%;
        width: auto;
    }

    .contwrap .cont_main .service {
        height: 640px;
    }

    .contwrap .cont_main .service .subject > span {
        left: 45%;
    }

    .contwrap .cont_main .service .service_cont {
        width: 90%;
        padding: 0 5%;
        max-width: 1200px;
    }

    .contwrap .cont_main .service .service_cont .service_img {
        width: 40%;
        height: auto;
        position: relative;
        top: 0;
    }

    .contwrap .cont_main .service .service_cont .service_img > img {
        margin-top: -70px;
    }

    .contwrap .cont_main .service .service_cont .service_txt {
        left: 45%;
        right: auto;
        top: 80px;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li {
        margin-bottom: 50px;
    }

    .main_slider {
        margin-top: 0;
    }

    .main_slider .subject > span {
        position: relative;
        top: 0;
    }

    .slider_desc {
        position: relative;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .slider_slogan {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background: none;
    }

    .slider_slogan img {
        display: block;
        width: 40%;
    }

    .slider_inner {
        margin-left: 5%;
    }

    .slider_num {
        bottom: 0;
        left: 48px;
        margin-left: 0;
    }

    .slider_on .slick-arrow {
        bottom: 0;
        left: 0;
        margin-left: 0;
    }

    .slider_on .slick-arrow.slick-prev {
        margin-left: 0;
    }

    .slider_on .slick-arrow.slick-next {
        margin-left: 76px;
    }

    .slider_on .slick-dots {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 30px;
    }

    .slider_on .slick-dots li {
        margin-left: 0;
    }

    .slider_more {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding-top: 100px;
    }

    .contwrap .contact .cont_contact {
        width: 90%;
        padding: 0 5%;
    }

    .slider_more a {
        margin: 0 auto;
    }
}

@media all and (max-width: 1024px) {
    .contwrap {
        overflow: hidden;
    }

    .contwrap .header {
        display: none;
    }

    .contwrap .m_header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-family: "Roboto", Verdana, Tahoma, Arial, sans-serif;
        color: #222;
        font-weight: 400;
        z-index: 999;
    }

    .contwrap .m_navigation {
    }

    .contwrap .m_nav_logo {
        height: 70px;
        background-color: #fff;
        position: relative;
    }

    .contwrap .m_home {
        position: absolute;
        top: 20px;
        left: 9%;
        width: 72px;
    }

    .contwrap .m_home img {
        width: 100%;
    }

    .contwrap .m_menu_open {
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 9%;
        text-indent: -9999px;
        background: url(ico_menu.png) 50% 50% no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .contwrap .m_menu {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100%;
        opacity: 0;
    }

    .contwrap .m_menu.m_on {
        left: 0;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
        height: 100vh;
        overflow: auto;
    }

    .contwrap .m_menu_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 99994;
        opacity: 0;
        -webkit-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        transition: opacity 0.1s;
    }

    .contwrap .m_menu.m_on .m_menu_bg {
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .contwrap .m_menu_inner {
        position: relative;
        z-index: 99996;
        text-align: center;
    }

    .contwrap .m_menu_close {
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 9%;
        text-indent: -9999px;
        background: url(ico_close.png) 50% 50% no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .contwrap .m_menu_1depth {
        margin: 0 auto;
        display: inline-block;
        text-align: left;
        padding-top: 7%;
    }

    .contwrap .m_menu_1depth > li {
        padding-top: 7%;
    }

    .contwrap .m_menu_1depth > li > a {
        color: #fff;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    .contwrap .m_menu_1depth .m_menu_2depth {
        padding-top: 5%;
        font-size: 0;
    }

    .contwrap .m_menu_1depth .m_menu_2depth li {
        padding-top: 0;
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
    }

    .contwrap .m_menu_1depth .m_menu_2depth li a {
        color: #fff;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: -0.02em;
    }

    .contwrap .m_sns {
        text-align: center;
        font-size: 0;
        padding-top: 6%;
        width: 320px;
        margin: 0 auto;
        padding-bottom: 10%;
    }

    .contwrap .m_sns a {
        display: inline-block;
        font-size: 1px;
        width: 60px;
        margin-left: 30px;
    }

    .contwrap .m_sns a:first-child {
        margin-left: 0;
    }

    .contwrap .m_sns img {
        width: 100%;
    }

    .contwrap .m_brochure {
        width: 240px;
        margin: 0 auto;
        padding-top: 13%;
    }

    .contwrap .m_brochure a {
        display: block;
        width: 130px;
    }

    .contwrap .m_brochure span {
    }

    .contwrap .m_brochure img {
        width: 100%;
    }

    .contwrap .footer {
        padding: 45px 9%;
    }

    .contwrap .footer > div > div {
        display: block;
        width: auto;
    }

    .contwrap .footer > div .information .info_02 {
        padding-bottom: 15px;
    }

    .contwrap .footer > div .copyright {
        text-align: left;
        padding-top: 15px;
    }

    .contwrap .cont_main .main_visual {
        height: 650px;
        width: auto;
        padding: 0 9%;
    }

    .contwrap .cont_main .main_visual .subject > span {
        margin-top: 100px;
    }

    .contwrap .cont_main .main_visual .main_right {
        width: 50%;
        height: 650px;
    }

    .contwrap .cont_main .main_visual .main_left {
        width: 45%;
        height: auto;
        margin: 0;
    }

    .contwrap .cont_main .main_visual .main_left > span {
        width: 120%;
        top: 170px;
    }

    .contwrap .cont_main .main_visual .main_left p {
        padding-top: 105%;
        font-size: 16px;
        line-height: 29px;
    }

    .contwrap .cont_main .main_visual .main_left p br {
        display: none;
    }

    .contwrap .cont_main .service {
        height: auto;
    }

    .contwrap .cont_main .service .service_cont .service_img {
        width: 45%;
    }

    .contwrap .cont_main .service .service_cont .service_txt {
        top: 60px;
        left: 50.5%;
        width: 42%;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li dl dd {
        padding-right: 120px;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li dl dd br {
        display: none;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li .icon {
        width: 100px;
    }

    .contwrap .cont_main .service .subject > span {
        margin-left: 0;
        left: 50%;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li dl dt {
        font-size: 30px;
        padding-bottom: 11px;
    }

    .contwrap .cont_main .service .service_cont .service_txt ul li dl dd {
        font-size: 15px;
        line-height: 24px;
    }

    .main_slider {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .main_slider .subject {
        width: 82%;
    }

    .slider_desc {
        width: 82%;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .slider_slogan img {
        width: 50%;
    }

    .slider_inner {
        margin-left: 9%;
    }

    .slider_more {
        padding-top: 80px;
    }

    /*.slider_on ul li {*/
    /*    width: 640px;*/
    /*    margin-left: 60px;*/
    /*}*/

    .slider_on ul li span {
        font-size: 22px;
    }
    
}

@media all and (max-width: 840px) {
    .contwrap .cont_main .main_visual {
        width: 100%;
        padding: 0;
        height: auto;
    }

    .main_visual_cover {
        display: block;
        background: url(img_visual_m.jpg) 50% 0 no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .main_visual_cover img {
        width: 100%;
    }

    .contwrap .cont_main .main_visual .main_right {
        display: none;
    }

    .contwrap .cont_main .main_visual .subject {
        width: auto;
        padding-left: 9%;
        padding-top: 18%;
    }

    .contwrap .cont_main .main_visual .subject > span {
        position: relative;
        margin-top: 0;
    }

    .contwrap .cont_main .main_visual .main_left {
        width: auto;
        padding: 0 9%;
    }

    .contwrap .cont_main .main_visual .main_left > span {
        display: none;
    }

    .contwrap .cont_main .main_visual .main_left p {
        padding-top: 5%;
        font-size: 15px;
        line-height: 1.9;
    }

    .contwrap .cont_main .main_visual .main_left p > span {
        display: block;
        padding-top: 5%;
    }

    .contwrap .cont_main .service {
        height: auto;
        padding-bottom: 0;
        background: none;
    }

    .contwrap .cont_main .service .service_cont {
        display: none;
    }

    .main_service_cover {
        display: block;
        background: url(img_service_m.png) 50% 0 no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .main_service_cover img {
        width: 100%;
    }

    .contwrap .cont_main .service .subject > span {
        left: 9%;
    }

    .slider_slogan img {
        width: 50%;
    }

    .slider_more {
        padding-top: 70px;
    }

    /*.slider_on ul li {*/
    /*    width: 500px;*/
    /*    margin-left: 50px;*/
    /*}*/

    .slider_on ul li span {
        font-size: 20px;
    }

    .contwrap .contact {
        padding: 100px 0;
        background: url(bg_form_m.jpg) 50% 0 no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .contwrap .contact .cont_contact {
        padding: 0 9%;
        width: auto;
    }

    .contwrap .contact .cont_contact .form > div {
        width: 100%;
        display: block;
    }

    .contwrap .contact .cont_contact .form .left {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .slider_on ul li img {
        height: 460px;
        width: 700px;
    }
}

@media all and (max-width: 640px) {
    .contwrap .m_nav_logo {
        height: 70px;
        background-color: #fff;
        position: relative;
    }

    .contwrap .m_home {
        position: absolute;
        top: 20px;
        left: 9%;
        width: 72px;
    }

    .contwrap .m_home img {
        width: 100%;
    }

    .contwrap .m_menu_open {
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 9%;
        text-indent: -9999px;
        background: url(ico_menu.png) 50% 50% no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .contwrap .m_menu {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100%;
        opacity: 0;
    }

    .contwrap .m_menu.m_on {
        left: 0;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .contwrap .m_menu_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 99994;
        opacity: 0;
    }

    .contwrap .m_menu.m_on .m_menu_bg {
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .contwrap .m_menu_inner {
        position: relative;
        z-index: 99996;
        text-align: center;
    }

    .contwrap .m_menu_close {
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 9%;
        text-indent: -9999px;
        background: url(ico_close.png) 50% 50% no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .contwrap .m_menu_1depth {
        margin: 0 auto;
        display: inline-block;
        text-align: left;
        padding-top: 11%;
    }

    .contwrap .m_menu_1depth > li {
        padding-top: 11%;
    }

    .contwrap .m_menu_1depth > li > a {
        color: #fff;
        font-size: 31px;
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    .contwrap .m_menu_1depth .m_menu_2depth {
        padding-top: 6%;
    }

    .contwrap .m_menu_1depth .m_menu_2depth li {
        padding-top: 7%;
        display: block;
        margin: 0;
    }

    .contwrap .m_menu_1depth .m_menu_2depth li a {
        color: #fff;
        font-size: 21px;
        font-weight: 300;
        letter-spacing: -0.02em;
    }

    .contwrap .m_sns {
        text-align: center;
        font-size: 0;
        padding-top: 7%;
        width: 210px;
        margin: 0 auto;
    }

    .contwrap .m_sns a {
        display: inline-block;
        font-size: 1px;
        width: 50px;
        margin-left: 22px;
    }

    .contwrap .m_sns a:first-child {
        margin-left: 0;
    }

    .contwrap .m_sns img {
        width: 100%;
    }

    .contwrap .m_brochure {
        width: 190px;
        margin: 0 auto;
        padding-top: 15%;
    }

    .contwrap .m_brochure a {
        display: block;
        width: 87px;
    }

    .contwrap .m_brochure span {
    }

    .contwrap .m_brochure img {
        width: 100%;
    }

    .contwrap .footer {
        padding: 40px 7%;
        border: none;
        background: #222;
    }

    .contwrap .footer > div {
        color: #666;
    }

    .contwrap .footer > div > div {
        font-size: 10px;
        font-weight: 300;
    }

    .contwrap .footer > div .information .info_02 {
        padding-bottom: 5px;
    }

    .contwrap .footer > div .information .info_03 span:first-child {
        color: #87c5ba;
        padding-right: 5px;
        font-weight: 200;
    }

    .contwrap .footer > div .information .info_03 span:first-child + span {
        padding-right: 20px;
    }

    .contwrap
    .footer
    > div
    .information
    .info_03
    span:first-child
    + span
    + span {
        color: #87c5ba;
        padding-right: 5px;
        font-weight: 200;
    }

    .contwrap .footer > div .copyright {
        padding-top: 5px;
    }

    .main_slider {
        padding-top: 18%;
        padding-bottom: 16%;
    }

    .slider_desc {
        padding-top: 5%;
        padding-bottom: 6%;
    }

    .slider_more {
        padding-top: 14%;
    }

    .slider_on ul li {
        margin-left: 20px;
    }

    .slider_on ul li img {
        height: 207px;
        width: 413px;
    }

    .slider_on ul li span {
        font-size: 18px;
    }

    .contwrap .contact .cont_contact .form input {
        font-size: 18px;
    }

    .contwrap .contact .cont_contact .form select {
        font-size: 18px;
    }

    .contwrap .contact .cont_contact .form .right textarea {
        font-size: 18px;
    }

    .contwrap .contact .cont_contact .form .file_btn span {
        font-size: 18px;
    }
}

@media all and (max-width: 540px) {
    .contwrap .m_menu_1depth {
        padding-top: 9%;
    }

    .contwrap .m_menu_1depth > li > a {
        font-size: 29px;
    }

    .contwrap .m_menu_1depth .m_menu_2depth {
        padding-top: 3%;
    }

    .contwrap .m_menu_1depth > li {
        padding-top: 10%;
    }

    .contwrap .m_sns a {
        width: 45px;
    }

    .contwrap .m_brochure {
        width: 180px;
    }

    .contwrap .m_brochure a {
        width: 87px;
    }

    .slider_on ul li img {
        height: 207px;
        width: 413px;
    }

    .slider_on ul li span {
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 4px;
    }
}

@media all and (max-width: 414px) {
    .slider_slogan img {
        width: 240px;
    }

    .slider_on ul li {
        margin-left: 20px;
    }

    .slider_on ul li img {
        height: 150px;
        width: 300px;
    }

    .slider_on ul li span {
        font-size: 14px;
    }

    .contwrap .contact {
        padding: 80px 0;
    }

    .contwrap .contact .cont_contact .form {
        padding-top: 50px;
    }

    .contwrap .contact .cont_contact .form input {
        font-size: 16px;
    }

    .contwrap .contact .cont_contact .form select {
        font-size: 16px;
    }

    .contwrap .contact .cont_contact .form .right textarea {
        font-size: 16px;
    }

    .contwrap .contact .cont_contact .form .file_btn span {
        font-size: 16px;
    }
}

@media all and (max-width: 375px) {
    .contwrap .m_menu_1depth {
        padding-top: 8%;
    }

    .contwrap .m_menu_1depth > li {
        padding-top: 10%;
    }

    .contwrap .m_menu_1depth > li > a {
        font-size: 26px;
    }

    .contwrap .m_menu_1depth .m_menu_2depth {
        padding-top: 1%;
    }

    .contwrap .m_menu_1depth .m_menu_2depth li a {
        font-size: 17px;
    }

    .contwrap .m_sns {
        padding-top: 6%;
    }

    .contwrap .m_brochure {
        padding-top: 14%;
        width: 175px;
    }

    .slider_on ul li {
        margin-left: 30px;
    }

    .slider_on ul li img {
        height: 150px;
        width: 300px;
    }
}

@media all and (max-width: 359px) {
    .contwrap .m_menu_1depth {
        padding-top: 6%;
    }
}

/* /m_header */
